version: '3.8'

services:
  db:
    image: postgres:18.1
    container_name: notgoogle-postgres
    env_file:
      - .env
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: